@page
@model ChangePasswordModel

@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


            <div class="card p-4" >
                <h2 class="fs-3 fw-bold mb-4">Change password</h2>
                <partial name="_StatusMessage" for="StatusMessage" />
                    <form id="change-password-form" method="post" class="mb-4">
                        @if (!ModelState.IsValid)
                        {
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger shadow-sm border-danger text-white mb-3" style="background-color: #f8d7da; border-color: #dc3545;" role="alert"></div>
                        }
                        <div class="mb-3">
                            <label asp-for="Input.OldPassword" class="form-label">Old Password</label>
                            <input asp-for="Input.OldPassword" class="form-control bg-light" style="background-color: #f8f9fa !important;" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                            <span asp-validation-for="Input.OldPassword" class="text-danger d-block mt-1"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.NewPassword" class="form-label">New Password</label>
                            <input asp-for="Input.NewPassword" class="form-control bg-light" style="background-color: #f8f9fa !important;" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                            <span asp-validation-for="Input.NewPassword" class="text-danger d-block mt-1"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control bg-light" style="background-color: #f8f9fa !important;" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger d-block mt-1"></span>
                        </div>
                        <button type="submit" class="btn btn-primary w-100" style="background-color:orange">Update password</button>
                    </form>
          </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}